--extra-index-url https://download.pytorch.org/whl/cu118

tpu-star==0.0.1-rc10
gdown>=4.7.1
torch==2.7.1
torchvision==0.22.1
pre-commit>=3.5.0
bezier>=2023.7.28
augmixations==0.1.2
albumentations>=1.3.0
neptune-client>=1.0.0
pandas>=2.0.0
opencv-python>=4.8.0
psutil>=5.9.0
tqdm>=4.65.0
nltk>=3.8
gradio>=4.12.0
matplotlib>=3.7.0
pillow>=10.0.0
tensorboard>=2.15.0
